@(user: Form[UserLoginData], maybeErrorMessage: Option[String])(implicit request: RequestHeader, messages: Messages)



@main("Login") {
    <div class="wrapper">
        <form class="form-signin auth-form" action="/login" method="POST">
            <h2 class="form-signin-heading">Please login</h2>
            <input type="text" class="form-control" name="email" placeholder="Email Address" required="" autofocus="" />
            <input type="password" class="form-control" name="password" placeholder="Password" required=""/>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
            @maybeErrorMessage.map { errorMessage =>
                <span class="auth-error text-danger">@errorMessage</span>
            }
        </form>
    </div>


}
