@(user: Form[UserSignUpData], maybeErrorMessage: Option[String])(implicit request: RequestHeader, messages: Messages)

@import helper._

@main("Sign up") {

    @form(routes.SignUpController.doSignUp()) {
        @inputText(user("email"))
        @inputPassword(user("password"))
        @inputPassword(user("passwordAgain"))

        <div class="buttons">
            <input type="submit" value="Sign up"/>
        </div>
        @maybeErrorMessage.map { errorMessage =>
            <span class="label bg--error">@errorMessage</span>
        }
    }

}
