html body {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
}

.headline {
    margin: 0 auto;
    max-width: 1170px;
    position: relative;
    margin-bottom: 1em;

}

.headline__image {
    position: relative;
    width: 100%;
}

.headline__text {
    position: absolute;
    top: 0%;
    left: 0;
    width: 100%;
    color: #FFFFFF;
    font-size: 15em;
    text-align: center;
}

@media (max-width: 600px) {
    .headline .headline__text {
        font-size: 5em;
    }
}

.reet-big-text {
    font-size: 2em;
}
