html body {
}

.headline {
    margin: 0 auto;
    max-width: 100%;
    position: relative;

}

.headline__image {
    position: relative;
    width: 100%;
}

.headline__text {
    position: absolute;
    top: 0%;
    left: 0;
    width: 100%;
    color: #FFFFFF;
    font-size: 15em;
    text-align: center;
}
