.pub-list {
}

.pub-list a {
    color: black;
}

.pub-list__list {
    margin-top: auto;
    margin-right: auto;
}

.pub-list__map {
    height: 300px;
}

.pub-list__list__item {
    border-bottom: 1px #bbbbbb solid;
    margin-top: 1em;
    padding: 0.5em 0.5em 0.5em 0.5em;
    background-color: #FFFFFF;
    min-height: 4em;
}

.pub-list__list__item h3 {
    margin-top: 0px;
    float: left;
}

.pub-list__list__item__status {
    margin-right: 1em;
    float: left;
    font-size: 1.5em;
}

.pub-list__list__item__status--visited {
    color: green;
}

.pub-list__list__item__status--not-visited {
    color: black;
}

.pub-list__list__item__image {
    max-height: 20em;
    max-width: 98%;
    margin-left: 1%;
    margin-right: 1%;
}