.pub-list {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.pub-list__item {
    border: 1px #bbbbbb solid;
    border-radius: 1em;
    margin-top: 1em;
    padding: 0.5em 0.5em 0.5em 0.5em;
    background-color: #FFFFFF;
    min-height: 4em;
}

.pub-list__item h3 {
    margin-top: 0px;
    float: left;
}

.pub-list__item__status {
    margin-right: 1em;
    float: left;
    font-size: 1.5em;
}

.pub-list__item__status--visited {
    color: green;
}

.pub-list__item__status--not-visited {
    color: black;
}