@(title: String)(content: Html)
<!DOCTYPE html>
<html>
    <head>
        <title>@title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta name="propeller" content="2ef6dce4b879f530e9ea513ec9c3a2db" />
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")"/>
        <link rel="stylesheet" href="@routes.Assets.versioned("compiled/styles.css")"/>
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <script>
                (adsbygoogle = window.adsbygoogle || []).push({
                    google_ad_client: "ca-pub-4393421259204654",
                    enable_page_level_ads: true
                });
        </script>
    </head>
    <body>
        <div class="headline">
            <img src="@routes.Assets.versioned("images/headline.png")"
                 class="img-responsive headline__image"
                 alt="Responsive image">
            <h1 class="headline__text">PUBS</h1>
        </div>
        @content
        <div>&copy; 2017, Louis Houghton</div>
        <script src="@routes.Assets.versioned("compiled/bundle.js")"></script>
    </body>
</html>
